// Styles for the site
//
// Generate the compiled css files by installing Stylus and running:
// $ stylus --watch -o assets styles
$containerWidth = 750px
$sidePadding = 1rem
$baseColor = #C08553


centeredContainer()
    max-width: $containerWidth
    margin-left: auto
    margin-right: auto
    box-sizing: border-box

    // Basic support for small screens:
    @media screen and (max-width: $containerWidth)
        padding-left: $sidePadding
        padding-right: $sidePadding


.clearfix:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

html, body
    margin: 0

a
    color: $baseColor
    font-weight: 600
    text-decoration: none

    &:hover
        text-decoration: underline

p
    line-height: 1.5
    margin: 0 0 1.5em

dl
    margin: 0

dt
    font-family: sans-serif
    font-weight: bold
    font-size: 0.8em
    text-transform: uppercase
    line-height: 1.3
    margin-bottom: 0.4em
    color: darken($baseColor, 50%)
dd
    margin-left: 0
    margin-bottom: 2rem
    line-height: 1.5

body
    font-family: Palatino, 'Palatino Linotype', Georgia, serif
    color: darken($baseColor, 80%)
    -webkit-font-smoothing: antialiased


    > footer
        padding-top: 10px
        padding-bottom: 10px
        background: lighten($baseColor, 90%)
        font-size: 0.8em

        a
            float: right
            margin-left: 10px

        > div
            centeredContainer()

.siteHeader
    background-color: #777
    background-size: cover
    background-position: center
    background-image: url(gtr3.jpg)

    .container
        padding-top: 20vh
        padding-bottom: 10px

    h1
        margin-bottom: 0
        color: white
        text-shadow: 0 0 2px #777
    h2
        margin-top: 0
        color: #dcb
        text-shadow: 0 0 3px #222
        font-size: 1.2em

.siteNav
    float: right
    margin-top: 37px
    font-size: 1.3em
    text-shadow: 0 0 3px rgba(#000, 0.5)

    @media screen and (max-width: $containerWidth)
        display: none

    a
        margin-left: 20px
        color: white

section > header
    background-color: #777
    background-size: cover
    background-position: center
    padding: 25vh 0 0
    margin-top: 13vh
    box-shadow: 0 6px 10px rgba(#000, 0.5) inset

    h1
        centeredContainer()
        margin: 0 auto
        color: white
        font-size: 2em

.container
    centeredContainer()
    padding: 2rem 0 0

img.ken
    float: left
    margin-right: 2rem
    margin-bottom: 2rem

    @media screen and (max-width: $containerWidth)
        margin-right: $sidePadding
        margin-bottom: 0.3rem
        margin-left: -1 * $sidePadding

#faq
    header
        background-image: url(gtr1.jpg)

#contact
    header
        background-image: url(gtr2.jpg)

    .maplink
        display: block
        float: right
        border: 1px solid #ccc

        @media screen and (max-width: $containerWidth)
            margin-right: -1 * $sidePadding
            border-right: none
