$containerWidth = 800px

centeredContainer()
    width: $containerWidth
    margin-left: auto
    margin-right: auto

.clearfix:after
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

html, body
    margin: 0

a
    color: red
    font-weight: 600
    text-decoration: none

    &:hover
        text-decoration: underline

p
    line-height: 1.5

dt
    font-weight: bold
    line-height: 1.8
dd
    margin-left: 0
    margin-bottom: 1em
    line-height: 1.5

body
    font-family: 'Open Sans'
    -webkit-font-smoothing: antialiased


    > footer
        padding: 10px 0
        background: #555
        color: white

        a
            float: right
            margin-left: 10px

        > div
            centeredContainer()

.siteHeader
    background-color: #777
    background-size: cover
    background-position: center
    background-image: url(gtr3.jpg)

    .container
        padding-bottom: 40px

    h1
        margin-bottom: 0
        color: white
        text-shadow: 0 0 2px #777
    h2
        margin-top: 0
        color: #bbb
        text-shadow: 0 0 2px #333
        font-size: 1.2em

.siteNav
    float: right

    a
        margin-left: 10px

section > header
    background-color: #777
    background-size: cover
    background-position: center
    padding: 140px 0 0

    h1
        centeredContainer()
        color: white
        font-size: 1.8em
        line-height: 0.8
        text-shadow: -1px 0 0 rgba(#000, 0.4), 1px 0 0 rgba(#000, 0.4)      // for descenders

.container
    centeredContainer()
    padding-top: 40px
    padding-bottom: 60px

img.ken
    float: left
    margin-right: 40px

#faq
    header
        background-image: url(gtr1.jpg)

#contact
    header
        background-image: url(gtr2.jpg)

    .maplink
        display: block
        float: right
        border: 1px solid #ccc

    dt
        line-height: 1.2
